@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}


<body style="background-color:black">
    <div>
        <label class="text-center" style="font-size: 70px; font-family: Stencil; color: #d49c43; width: 100%;"> Collection</label>
    </div>
    <br>
    <br />
    <div style="margin-top: 5%; margin-left: 10%; width: 30%; height: 40%">
        <a class="" href="~/AdminPanel/DressAdmin" style="font-family: castellar; color: #d49c43; font-style: italic; font-weight: bolder">Dress</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/Content/d12.jpg" style="width: 200px; height: 200px" />


    </div>
    <div style="margin-top: -15%; margin-left: 50%; width: 30%; height: 40%">
        <a class="" href="~/AdminPanel/JewelleryAdmin" style="font-family: castellar; color: #d49c43; font-style: italic; font-weight: bolder"> Jewellery</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/Content/j15.jpg" style="width: 200px; height: 200px" />

    </div>
    <div style="margin-top: 5%; margin-left: 10%; width: 30%; height: 40%">
        <a class="" href="~/AdminPanel/ShoesAdmin" style="font-family: castellar; color: #d49c43; font-style: italic; font-weight: bolder">Shoes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/Content/s13.jpg" style="width: 200px; height: 200px" />

    </div>

</body>



