@{
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}
<body style="background-color:black">
    <div>
        <label class="text-center" style="font-size: 70px; font-family: Stencil; color: #d49c43; width: 100%;">Welcome Admin</label>
    </div>
    <br>
    <br />

    <div class="panel-body">
        <div id="slider" class="action  hide-from-mobile">

            <img src="~/Content/d1.jpg" alt="Dress" />
            <img src="~/Content/d10.jpg" alt="Dress" />
            <img src="~/Content/s19.jpeg" alt="Sandal" />
            <img src="~/Content/s21.jpg" alt="Sandal" />
            <img src="~/Content/d20.jpg" alt="Dress" />
            <img src="~/Content/d11.jpg" alt="Dress" />
            <img src="~/Content/s25.jpg" alt="Sandal" />
            <img src="~/Content/s20.jpg" alt="Sandal" />
            <img src="~/Content/d21.jpg" alt="Dress" />


        </div>


    </div>
    @*<h1 style="align-content:center">WelCome</h1>
        <div class="container well well-sm col-lg-2 " style="margin-left:25%" >
            <ul class=" nav navbar-nav pull-right " style="padding-top:25px;padding-left:5%">

                <li><a href="/AdminPanel/Type" style="font-family:Papyrus" class="hvr-bounce-to-top">Upload New Item</a></li>

                <li><a href="/AdminPanel/Update" style="font-family:Papyrus" class="hvr-bounce-to-top">update Exiting Item</a></li>
                <li><a href="/AdminPanel/Delete" style="font-family:Papyrus" class="hvr-bounce-to-top">Delete Exiting item</a></li>

            </ul>
        </div>  *@
</body>

