@{
    ViewBag.Title = "Type";

    Layout = "~/Views/Shared/AdminNavBar.cshtml";

}

<body style="background-color:black">
    <div>
        <label class="text-center" style="font-size: 70px; font-family: Stencil; color: #d49c43; width: 100%;">Add</label>
    </div>
    <br>
    <br />
    <h2 class="text-center" style="color: #d49c43">Select Item to add in Database</h2>

    <div class="container well well-sm col-lg-1" style="margin-left:25%">

        <ul class=" nav navbar-nav pull-right " style="padding-top:25px;padding-left:5%">

            <li><a href="/AdminPanel/dress" style="font-family: Papyrus; font-size: large; color: #d49c43" class="hvr-bounce-to-bottom">Dress</a></li>
            <li><a href="/AdminPanel/shoes" style="font-family: Papyrus; font-size: large; color: #d49c43; " class="hvr-bounce-to-top">Shoes</a></li>
            <li><a href="/AdminPanel/jell" style="font-family: Papyrus; font-size: large; color: #d49c43; " class="hvr-bounce-to-top">Jewellery</a></li>

        </ul>
        <form>
            <br />
            <br />
            <br />
            <input type="submit" class="btn btn-success"   value="Done" />
        </form>



    </div>


</body>
