@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/UserNavBar.cshtml";

}
<body style="background-color:black">
    <div style=" color: white">
        <section id="contact" style="margin-top: 8%">
            <div class="container">
                <div class="row">
                    <div>
                        <label class="text-center" style="font-size: 70px; font-family: Stencil; color: #d49c43; width: 100%;"> Feedback</label>
                    </div>
                    <br>
                    <br />
                  
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" style="color:white ; font-size: large">

                        <form name="sentMessage" id="contactForm" action="/User/AddFeedBack" method="post">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="Name" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>

                            </div>

                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" name="Email" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <label>Comment</label>


                            <div class="row control-group">
                                <textarea style="width: 100%;height:40% ;color:black" name="Comment"></textarea>
                            </div>


                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg" style="background-color: black">submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>