@{
    ViewBag.Title = "About";

}


<body style="background-color:black">
    <div>
        <label class="text-center" style="font-size: 70px; font-family: Stencil; color: #d49c43; width: 100%;"> Shopping</label>
    </div>
    <br>
    <br />
    <div style="width:50%;float:right">
        <img src="~/Content/j11.jpg" style="width: 1000px; height: 500px; margin-left:150px ; max-height:500px;max-width:500px" />
    </div>

    <div style=" width: 50% ; float:left;padding-left:5% ; color:white;">
        <h4 style="color: #d49c43">


            A year ago, Shop had started its journey with a single outlet in Lahore.
            Fast forward to 2015, and it is now the largest retail network in Pakistan,
            with more than 450 retail outlets and roughly 2500 independent dealers,
            delivering quality clothes and footwear to consumers every day.As a family
            store, Shop promises to cater to the daily shoping needs of all the
            members of the family. With its multi-brand approach, constant innovation
            in design and up-to-date <br />style trends, Shop has products for all age
            groups and personal tastes.
            Shop is managed by the Team Sales Corporation (Pvt.) Ltd.
        </h4>
    </div>

</body>
