@{
    ViewBag.Title = "Home";
}

<body style="background-color:black">
    <h1 style="color:deepskyblue">Welcome to Online Shopping!</h1>
    <div class="panel-body">
        <div id="slider" class="action  hide-from-mobile">
            <img src="~/Content/d1.jpg" alt="Dress" />
            <img src="~/Content/d10.jpg" alt="Dress" />
            <img src="~/Content/s19.jpeg" alt="Sandal" />
            <img src="~/Content/s21.jpg" alt="Sandal" />
            <img src="~/Content/d20.jpg" alt="Dress" />
            <img src="~/Content/d11.jpg" alt="Dress" />
            <img src="~/Content/s25.jpg" alt="Sandal" />
            <img src="~/Content/s20.jpg" alt="Sandal" />
            <img src="~/Content/d21.jpg" alt="Dress" />

        </div>


    </div>
</body>

